---
css: app
classOut: account-out
title: account
---
{% extends "layouts/_layout.html" %}

{% block styles %}
	
{% endblock %}

{% block content %}

	{% include "partials/_sidebar-4.html" %}
	<main>

		<header class="header">
			<div class="header__title">
				<h2 class="title">Настройки аккаунта</h2>
			</div>
			<button class="btn btn--blue header__save">Сохранить</button>
			<button class="btn header__save">Отменить</button>

			<div class="header__user-wrp">
				{{mixins.icon('apps')}} 
				<i class="icon-bell"></i>
				<img src="img/user.png" alt="user">
			</div>
		</header>
		
		<section class="account">
			<div class="container">
				<div class="account__basic">
					<h3 class="subtitle">Основное</h3>
					<label class="label-text ">
			            <input class="input-text" type="text" placeholder="&nbsp;">
			            <span class="span-input-text">Имя</span>
			            <span class="input-text-error">Некорректный формат ввода</span>
			            <span class="input-text-success">Success</span>
			        </label>
			        <label class="label-text ">
			            <input class="input-text" type="text" placeholder="&nbsp;">
			            <span class="span-input-text">Фамилия</span>
			            <span class="input-text-error">Некорректный формат ввода</span>
			            <span class="input-text-success">Success</span>
			        </label>
			        <label class="label-text ">
			            <input class="input-text" type="text" placeholder="&nbsp;">
			            <span class="span-input-text">Телефон</span>
			            <span class="input-text-error">Некорректный формат ввода</span>
			            <span class="input-text-success">Success</span>
			        </label>
			        <label class="label-text ">
			            <input class="input-text" type="text" placeholder="&nbsp;">
			            <span class="span-input-text">Часовой пояс</span>
			            <span class="input-text-error">Некорректный формат ввода</span>
			            <span class="input-text-success">Success</span>
			        </label>
			        <label class="label-checkbox">
			            <input class="checkbox" type="checkbox">
			            <span class="input-circle"></span>
			            Показывать всплывающие уведомления
			        </label>
				</div>
				<div class="account__email">
					<h3 class="subtitle">Email & пароль</h3>
					<div class="account__email-blocks">
						<div class="account__email-left">

							<p>
								Для безопасности мы вышлем
								письмо с подтверждением
							</p>
							<label class="label-text ">
					            <input class="input-text" type="text" placeholder="&nbsp;">
					            <span class="span-input-text">Email</span>
					            <span class="input-text-error">Некорректный формат ввода</span>
					            <span class="input-text-success">Success</span>
					        </label>
					        
					        <button class="btn btn-icon btn--blue" >
					        	Сменить email
								{{mixins.icon('mail-at')}}
					        </button>
						</div>
						<div class="account__email-right">
							<label class="label-text ">
					            <input class="input-text" type="password" placeholder="&nbsp;">
					            <span class="span-input-text">Пароль</span>
					            <span class="input-text-error">Некорректный формат ввода</span>
					            <span class="input-text-success">Success</span>
					        </label>
					        <label class="label-text ">
					            <input class="input-text" type="password" placeholder="&nbsp;">
					            <span class="span-input-text">Пароль (еще раз)</span>
					            <span class="input-text-error">Некорректный формат ввода</span>
					            <span class="input-text-success">Success</span>
					        </label>
					        <button class="btn btn-icon btn--blue" >
					        	Сменить пароль
								{{mixins.icon('lock')}}
					        </button>
						</div>
					</div>
				</div>
				<div class="account__autrz">
					<h3 class="subtitle">Двухфакторная авторизация</h3>
					<div class="account__autrz-items">
						<button class="btn" >
				        	Google Auth
				        </button>
				        <button class="btn" >
				        	Authy
				        </button>
				        <button class="btn" >
				        	Использовать TOTP
				        </button>
					</div>
				</div>
				<div class="account__autrz">
					<div class="account__autrz-wrp">
						<div class="account__autrz-left">
							<h3 class="subtitle">Двухфакторная авторизация</h3>
							<p>Подключено, Google Auth</p>
						</div>
						<button class="btn-small btn-icon " >
							{{mixins.icon('error-3')}}
				        	Отключить
				        </button>
					</div>
				</div>
				<div class="account__social">
					<div class="account__social-wrp">
						<h3 class="subtitle">Социальные сети</h3>
						<p>Привяжите аккаунты соцсетей для быстрого и простого входа в систему</p>
					</div>
					
					<div class="account__social-items">
						<div class="account__social-item">
							<img src="img/fb-logo.png" alt="fb-logo">
							<div>
			        			<span>Facebook</span>
			        			<span>Подключен</span>
			        		</div>
			        		{{mixins.icon('basket-2')}}
						</div>
						<div class="account__social-item">
							<img src="img/Twitter-logo.png" alt="Twitter-logo">
							<div>
			        			<span>Twitter</span>
			        			<span>Подключен</span>
			        		</div>
			        		{{mixins.icon('basket-2')}}
						</div>

						<div class="account__social-item account__social-add">
							<div class="account__social-new">
								<img src="img/google-logo.png" alt="google-logo">
								<div>
				        			<span>Google</span>
				        			<span><a href="#">Добавить аккаунт</a></span>
				        		</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="container">
				<a href="/">Политика конфиденциальности</a>
			</div>
		</footer>
		

	{% include "partials/_social.html" %}
		
	</main>
	
	<script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery.slimscroll.js"></script>

    <script>
    	$(document).ready(function() {
		    $('.sidebar').slimScroll({
				height: '100%'
			});
		});
    </script>
    

{% endblock %}