---
css: app
classOut: home-out
title: Domain
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_sidebar.html" %}
	<main>

		<header class="header">
			<div class="header__title">
				<h2 class="title">Создать домен</h2>
			</div>
			<div class="header__user-wrp">
				<i class="icon-bell"></i>
				<div class="header__user-text">
					<span class="header__user-name">Андрей Збруцкий</span> <br>
					<span class="header__user-descript">Проекты и параметры</span>
				</div>
				<img src="img/user.png" alt="user">
			</div>
		</header>
		
		<section class="domain">
			<div class="container">
				<div class="domain--form">
					<img class="domain--img" src="img/domain_img.png" alt="">
					<p>Создай свой домен, подключи платежные системы и
					начни продавать эффективно в любой валюте!</p>
					<form action="#" method="POST">
						<label class="label-text label-text--success">
				            <input class="input-text" type="text" placeholder="&nbsp;">
				            <span class="span-input-text">URL address</span>
				            <span class="input-text-error">Некорректный формат ввода</span>
				            <span class="input-text-success">Адрес свободен</span>
				        </label>
				        <button class="btn btn-arrow-r btn--blue" type="submit">Зарегистрировать</button>
					</form>
				</div>
			</div>
		</section>


	
		<footer class="home__footer">
			<div class="container">
				<a href="#">Политика конфиденциальности</a>
			</div>
		</footer>
	
	{% include "partials/_social.html" %}
		
	</main>
	
	<script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery.slimscroll.js"></script>

    <script>
    	$(document).ready(function() {
		  $('.sidebar').slimScroll({
				height: '100%'
			});
		});
    </script>

{% endblock %}