---
css: app
classOut: home-out
title: home
---
{% extends "layouts/_layout.html" %}

{% block styles %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	{% include "partials/_warning.html" %}
	{% include "partials/_sidebar.html" %}
	{% include "partials/_help.html" %}
	<main class="main-home">

		<header class="header">
			<div class="header__title">
				<h2 class="title">Интернет-магазин "Пятерочка"</h2>
			</div>
			<div class="header__user-wrp">
				<i class="icon-bell"></i>
				<div class="header__user-text">
					<span class="header__user-name">Андрей Збруцкий</span> <br>
					<span class="header__user-descript">Проекты и параметры</span>
				</div>
				<img src="img/user.png" alt="user">
			</div>
		</header>
		
		<section class="home">
		<div class="container">
			<div class="home__list">
				<a class="home__item" href="#">
					<img src="img/home-item1.png" alt="">
					<p>Smart Messenger</p>
					<span>8</span>
				</a>
				<a class="home__item home__item--soon">
					<img src="img/home-item2.png" alt="">
					<p>Smart Push</p>
				</a>
				<a class="home__item home__item--soon">
					<img src="img/home-item3.png" alt="">
					<p>Smart Mail</p>
				</a>
				<a class="home__item home__item--soon">
					<img src="img/home-item4.png" alt="">
					<p>Smart Short Messages</p>
				</a>
			</div>
			<div class="home__offers">
				<div class="home__offer home__offer--blue">
					<p class="home__offer-title">Специальное предложение</p>
					<p class="home__offer-text">Оплати полный пакет Smart Sender сейчас и получи
					3 месяца пользования в подарок!</p>
					<button class="btn btn-arrow-r btn--blue">Тарифы и условия</button>
				</div>
				<div class="home__offer home__offer--green">
					<p class="home__offer-title">Специальное предложение</p>
					<p class="home__offer-text">Оплати полный пакет Smart Sender сейчас и получи
					3 месяца пользования в подарок!</p>
					<button class="btn btn-arrow-r">Тарифы и условия</button>
				</div>
				
			</div>
			
		</div>
		</section>

		<footer class="home__footer">
			<div class="container">
				<a href="/">Политика конфиденциальности</a>
			</div>
		</footer>

		<div class="m-welcome">
			<div class="m-welcome__block">
				<span class="projects__btn-close">
					{{mixins.icon('close')}}
				</span>
				<h2 class="title">Добро пожаловать</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer
				adipiscing elit. Aenean commodo ligula eget dolor.
				Aenean massa.</p>
				<img src="img/m-welcome.png" alt="m-welcome">
				<button class="btn btn--blue">Панель управления</button>
				<button class="btn">Видеоуроки и поддержка</button>
			</div>
		</div>

		<div class="m-partners">
			<div class="m-partners__block">
				<span class="projects__btn-close">
					{{mixins.icon('close')}}
				</span>
				<h2 class="title">Smart Sender <span>Partner</span></h2>
				<p>Хотите зарабатывать вместе с нами
				или пользоваться услугами бесплатно?</p>
				<img src="img/m-partners.png" alt="m-welcome">
				<button class="btn btn--blue">Подробнее</button>
				<button class="btn btn--border">Нет, спасибо</button>
			</div>
		</div>
		<div class="m-buy" style="display: none;">
			<div class="m-buy__block">
				<span class="projects__btn-close">
					{{mixins.icon('close')}}
				</span>
				<h2 class="title">Только сейчас!</h2>
				<p class="m-buy__subtitle">
					Скидки на пакетные предложения от Smart Sender
				</p>
				<ul>
					<li>
						<h2 class="title">Базовый</h2>
						<div class="m-buy__marks">
							<i class="icon-mark-small-blue"></i>
							<i class="icon-mark-small-red"></i>
						</div>
						<div class="m-buy__checkbox-list">
							<label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            One morning, when Gregor Samsa woke from
					        </label> 
					        <label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            His many legs, pitifully thin
					        </label> 
					        <label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            It showed a lady fitted out with
					        </label> 
						</div>
						<div class="m-buy__bottom">
							<label class="label-radio">
					            <input class="radio" name="radio" type="radio">
					            <span class="input-circle"></span>
					            $15 при оплате ежемесячно
					        </label>
					        <label class="label-radio">
					            <input class="radio" name="radio" type="radio">
					            <span class="input-circle"></span>
					            $150 при оплате за год
					        </label> 
					        <button class="btn btn--blue" >
						        	Перейти
					        	</button>
						</div>
					</li>
					<li class="m-buy__blue-block">
						<h2 class="title">Расширенный</h2>
						<div class="m-buy__marks">
							<i class="icon-mark-small-blue"></i>
							<i class="icon-mark-small-red"></i>
						</div>
						<div class="m-buy__checkbox-list">
							<label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            One morning, when Gregor Samsa woke from
					        </label> 
					        <label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            His many legs, pitifully thin
					        </label> 
					        <label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            It showed a lady fitted out with
					        </label> 
						</div>
						<div class="m-buy__bottom">
							<label class="label-radio">
					            <input class="radio" name="radio" type="radio">
					            <span class="input-circle"></span>
					            $15 при оплате ежемесячно
					        </label>
					        <label class="label-radio">
					            <input class="radio" name="radio" type="radio">
					            <span class="input-circle"></span>
					            $150 при оплате за год
					        </label> 
					        <button class="btn btn--blue" >
						        	Лучший выбор
					        	</button>
						</div>
					</li>
					<li>
						<h2 class="title">Pro</h2>
						<div class="m-buy__marks">
							<i class="icon-mark-small-blue"></i>
							<i class="icon-mark-small-red"></i>
						</div>
						<div class="m-buy__checkbox-list">
							<label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            One morning, when Gregor Samsa woke from
					        </label> 
					        <label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            His many legs, pitifully thin
					        </label> 
					        <label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            It showed a lady fitted out with
					        </label> 
					        <label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            One morning, when Gregor Samsa woke from
					        </label> 
					        <label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            His many legs, pitifully thin
					        </label> 
					        <label class="label-checkbox">
					            <input class="checkbox" type="checkbox">
					            <span class="input-circle"></span>
					            It showed a lady fitted out with
					        </label>
					        <a href="#">И еще 10 преимуществ</a>
						</div>
						<div class="m-buy__bottom">
							<label class="label-radio">
					            <input class="radio" name="radio" type="radio">
					            <span class="input-circle"></span>
					            $15 при оплате ежемесячно
					        </label>
					        <label class="label-radio">
					            <input class="radio" name="radio" type="radio">
					            <span class="input-circle"></span>
					            $150 при оплате за год
					        </label> 
					        <button class="btn btn--blue" >
					        	Перейти
				        	</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-support" style="display: none;">
			<div class="m-support__block">
				<span class="projects__btn-close">
					{{mixins.icon('close')}}
				</span>
				<h2 class="title">Мгновенная поддержка</h2>
				<p class="pro__subtitle">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					Aenean commodo ligula eget dolor. Aenean massa.
				</p>
				<div class="m-support__select-wrp">
        			<select name="" id="" class="select2" >
	        			<option value="">Биллинг и тарифы</option>
	        			<option value="">Биллинг и тарифы</option>
	        			<option value="">Биллинг и тарифы</option>
	        			<option value="">Биллинг и тарифы</option>
	        			<option value="">Биллинг и тарифы</option>
	        			<option value="">Биллинг и тарифы</option>
	        			<option value="">Биллинг и тарифы</option>
	        			<option value="">Биллинг и тарифы</option>
	        		</select>
	        		<span class="m-support__select-name">Тема обращения</span>
        		</div>
        		<div class="m-support__textarea">
					<textarea name="theme" rows="5" placeholder="Введите текст"></textarea>
					<span>563 / 500 символов</span>
				</div>
				<button class="btn btn-arrow-r btn--blue">Отправить</button>
			</div>
		</div>

	{% include "partials/_notice.html" %}
	{% include "partials/_notice-panel.html" %}
	{% include "partials/_change-project.html" %}
	{% include "partials/_social.html" %}
		
	</main>
	
	<script src="js/jquery-3.2.1.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="js/jquery.slimscroll.js"></script>
    <script src="js/TextAreaAutoResizer.js"></script>
    
	<script>
    	$(document).ready(function() {
		  $('.mod-help__block').slimScroll({
				height: '100%'
			});
		});
    </script>
    <script>
    	$(document).ready(function() {
		  $('.sidebar').slimScroll({
				height: '100%'
			});
		});
    </script>

    <script>
    	$(document).ready(function() {
		  $('.notific__wrp').slimScroll({
				height: '100%'
			});
		});
    </script>
    <script>
    	$(document).ready(function() {
        $('.select2').select2();
	    });
    </script>
    <script>
    	$(document).ready(function(){
        	$(".select2").on('select2:open', function () {
        		$('.select2-results__options').slimScroll();
	  		});
	    });
    </script>
    <script>
		$( document ).ready( function() {
			$('textarea').autosize();
		});
    </script>

{% endblock %}