---
css: service
title: Lang
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="lang__container">
		<div class="lang__row">
			<div class="lang__controlLink">
				<a href="#">{{mixins.icon("back-icon")}} Вернуться назад</a>
			</div>
			<div class="lang__header">
				<h1>Выберите ваш язык или регион</h1>
			</div>
		</div>
		<div class="lang__row-column">
			<div class="lang__title-wrp">
				<h4>популярные языки</h4>
			</div>
			<div class="lang__list">
				<div class="list-item">
					<img src="img/united_kingdom.png" alt="">
					<ul>
						<li>English</li>
						<li>English</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/germany.png" alt="">
					<ul>
						<li>Deutsch</li>
						<li>German</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/sweden.png" alt="">
					<ul>
						<li>Svenska</li>
						<li>Svedish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/poland.png" alt="">
					<ul>
						<li>Polski</li>
						<li>Polish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/norway.png" alt="">
					<ul>
						<li>Norsk</li>
						<li>Norwegian</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="lang__row-column">
			<div class="lang__title-wrp">
				<h4>ВСЕ ЯЗЫКИ</h4>
			</div>
			<div class="lang__list">
				<div class="list-item">
					<img src="img/united_kingdom.png" alt="">
					<ul>
						<li>English</li>
						<li>English</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/germany.png" alt="">
					<ul>
						<li>Deutsch</li>
						<li>German</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/sweden.png" alt="">
					<ul>
						<li>Svenska</li>
						<li>Svedish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/poland.png" alt="">
					<ul>
						<li>Polski</li>
						<li>Polish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/norway.png" alt="">
					<ul>
						<li>Norsk</li>
						<li>Norwegian</li>
					</ul>
				</div>
			</div>
			<div class="lang__list">
				<div class="list-item">
					<img src="img/united_kingdom.png" alt="">
					<ul>
						<li>English</li>
						<li>English</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/germany.png" alt="">
					<ul>
						<li>Deutsch</li>
						<li>German</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/sweden.png" alt="">
					<ul>
						<li>Svenska</li>
						<li>Svedish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/poland.png" alt="">
					<ul>
						<li>Polski</li>
						<li>Polish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/norway.png" alt="">
					<ul>
						<li>Norsk</li>
						<li>Norwegian</li>
					</ul>
				</div>
			</div>
			<div class="lang__list">
				<div class="list-item">
					<img src="img/united_kingdom.png" alt="">
					<ul>
						<li>English</li>
						<li>English</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/germany.png" alt="">
					<ul>
						<li>Deutsch</li>
						<li>German</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/sweden.png" alt="">
					<ul>
						<li>Svenska</li>
						<li>Svedish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/poland.png" alt="">
					<ul>
						<li>Polski</li>
						<li>Polish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/norway.png" alt="">
					<ul>
						<li>Norsk</li>
						<li>Norwegian</li>
					</ul>
				</div>
			</div>
			<div class="lang__list">
				<div class="list-item">
					<img src="img/united_kingdom.png" alt="">
					<ul>
						<li>English</li>
						<li>English</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/germany.png" alt="">
					<ul>
						<li>Deutsch</li>
						<li>German</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/sweden.png" alt="">
					<ul>
						<li>Svenska</li>
						<li>Svedish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/poland.png" alt="">
					<ul>
						<li>Polski</li>
						<li>Polish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/norway.png" alt="">
					<ul>
						<li>Norsk</li>
						<li>Norwegian</li>
					</ul>
				</div>
			</div>
			<div class="lang__list">
				<div class="list-item">
					<img src="img/united_kingdom.png" alt="">
					<ul>
						<li>English</li>
						<li>English</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/germany.png" alt="">
					<ul>
						<li>Deutsch</li>
						<li>German</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/sweden.png" alt="">
					<ul>
						<li>Svenska</li>
						<li>Svedish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/poland.png" alt="">
					<ul>
						<li>Polski</li>
						<li>Polish</li>
					</ul>
				</div>
				<div class="list-item">
					<img src="img/norway.png" alt="">
					<ul>
						<li>Norsk</li>
						<li>Norwegian</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="lang__row">
			<a href="#" class="lang__row-polyci">Политика конфиденциальности</a>
		</div>
	</div>

{% endblock %}