---
css: app
classOut: products-null-out
title: products-null
---
{% extends "layouts/_layout.html" %}

{% block styles %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}

	{% include "partials/_sidebar-2.html" %}
	<main class="main-home">

		<header class="header">
			<div class="header__title">
				<h2 class="title">Продукты</h2>
			</div>
			<button class="btn btn--blue header__save">Добавить</button>
			<div class="header__csv-wrp">
				<button>
					{{mixins.icon('csv-download')}}
					Экспортировать в CSV
				</button>
				<button>
					{{mixins.icon('csv-upload')}}
					Загрузить CSV
				</button>
			</div>
			<div class="header__user-wrp">
				{{mixins.icon('search')}} 
				{{mixins.icon('apps')}} 
				<i class="icon-bell"></i>
				<img src="img/user.png" alt="user">
			</div>
		</header>
		
		<section class="products-null">
			<div class="container">
				<div class="products-null__wrp">
					<img src="img/products-null.png" alt="products-null">
					<h3 class="subtitle">Упс, здесь еще ничего нет</h3>
					<button class="btn btn--blue">Добавить продукт</button>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="container">
				<a href="#">Политика конфиденциальности</a>
			</div>
		</footer>

	{% include "partials/_social.html" %}

	</main>

	<script src="js/jquery-3.2.1.min.js"></script>
	
    <script src="js/jquery.slimscroll.js"></script>

    <script>
    	$(document).ready(function() {
		    $('.sidebar').slimScroll({
				height: '100%'
			});
		});
    </script>

{% endblock %}