---
css: app
classOut: projects-out
title: projects
---
{% extends "layouts/_layout.html" %}

{% block content %}


	<main class="main-projects">

		<header class="header">
			<img src="img/logo.png" class="header__logo" alt="header__logo">
			<div class="header__title">
				<h2 class="title">Доброе утро, Андрей</h2>
			</div>
			<div class="header__user-wrp">
				<!-- <i class="icon-bell"></i> -->
				<div class="header__user-text">
					<span class="header__user-name">Андрей Збруцкий</span> <br>
					<span class="header__user-descript">Настройки акаунта</span>
				</div>
				<img src="img/user.png" alt="user">
			</div>
		</header>

		<section class="projects">
			<div class="projects__list">
				<h2 class="title">Выберите проект или создайте новый, чтобы начать</h2>
				<div class="projects__items">
					
					<div class="projects__item">
						<div class="projects__logo projects__logo--dot">
							<!-- <img src="img/progects-photo.png" alt="progects-photo"> -->
						</div>
						<div class="projects__item-text">
							<p>Интернет-магазин "Пятерочка"</p>
							<a href="#">Параметры</a>
							<span>8 новый уведомлений</span>
						</div>
					</div>
					<div class="projects__item">
						<div class="projects__logo projects__logo--dot">
							<!-- <img src="img/progects-photo.png" alt="progects-photo"> -->
						</div>
						<div class="projects__item-text">
							<p>Интернет-магазин "Пятерочка"</p>
							<a href="#">Параметры</a>
							<span>8 новый уведомлений</span>
						</div>
					</div>
					<div class="projects__item">
						<div class="projects__logo projects__logo--dot">
							<!-- <img src="img/progects-photo.png" alt="progects-photo"> -->
						</div>
						<div class="projects__item-text">
							<p>Интернет-магазин "Пятерочка"</p>
							<a href="#">Параметры</a>
							<span>8 новый уведомлений</span>
						</div>
					</div>
					<div class="projects__item">
						<div class="projects__logo projects__logo--dot">
							<!-- <img src="img/progects-photo.png" alt="progects-photo"> -->
						</div>
						<div class="projects__item-text">
							<p>Интернет-магазин "Пятерочка"</p>
							<a href="#">Параметры</a>
							<span>8 новый уведомлений</span>
						</div>
					</div>
					<div class="projects__item">
						<div class="projects__logo projects__logo--dot">
							<!-- <img src="img/progects-photo.png" alt="progects-photo"> -->
						</div>
						<div class="projects__item-text">
							<p>Интернет-магазин "Пятерочка"</p>
							<a href="#">Параметры</a>
							<span>8 новый уведомлений</span>
						</div>
					</div>
					
					<button class="btn">
					{{mixins.icon('add')}}
					Новый проект</button>
				</div>
			</div>
		</section>

		<div class="mod__modal mod__modal--first">
			<div class="mod__modal-block">
				<span class="mod__btn-close">
					{{mixins.icon('close')}}
				</span>
				<h2 class="title">Редактировать проект</h2>
				<p>One morning, when Gregor Samsa woke from
				troubled dreams, he found himself transformed
				in his bed</p>
				
				<form action="/">
					<label class="label-file ">
						<img src="img/progects-photo.png" alt="progects-photo">
						<input type="file" name="file" multiple>
					</label>
					<label class="label-text ">
			            <input class="input-text" type="text" placeholder="&nbsp;">
			            <span class="span-input-text">Название</span>
			        </label>
			        <button class="btn btn-arrow-r btn--blue" type="submit">Создать проект</button>
				</form>
			</div>
		</div>
		<div class="mod__modal mod__modal--second">
			<div class="mod__modal-block">
				<span class="mod__btn-close">
					{{mixins.icon('close')}}
				</span>
				<h2 class="title">Редактировать проект</h2>
				<p>One morning, when Gregor Samsa woke from
				troubled dreams, he found himself transformed
				in his bed</p>
				
				<form action="/">
					<label class="label-file ">
						<img src="img/progects-photo.png" alt="progects-photo">
						<input type="file" name="file" multiple>
					</label>
					<label class="label-text ">
			            <input class="input-text" type="text" placeholder="&nbsp;">
			            <span class="span-input-text">Название</span>
			        </label>
			        <button class="btn btn-arrow-r btn--blue" type="submit">Создать проект</button>
			        
				</form>
				<button class="btn btn-icon">Удалить проект
				{{mixins.icon('delete')}}
				</button>
			</div>
		</div>
		<div class="mod__modal-delete">
			<div class="mod__delete-block">
				<span class="mod__btn-close">
					{{mixins.icon('close')}}
				</span>
				<h2 class="title">Внимание</h2>
				<p>Вы действительно хотите удалить проект?</p>
				<div class="mod__modal-btns">
					<button class="btn btn--border">Отменить
					</button>
					<button class="btn btn--blue" >Удалить</button>
					

				</div>

			</div>
		</div>

		
	
	
	{% include "partials/_social.html" %}
		
	</main>

{% endblock %}.html