---
css: app
classOut: referal-out
title: referal
---
{% extends "layouts/_layout.html" %}

{% block styles %}
	
{% endblock %}

{% block content %}

	{% include "partials/_sidebar-3.html" %}
	<main>

		<header class="header">
			<div class="header__title">
				<h2 class="title">Реферальная программа</h2>
			</div>
			<button class="btn btn--blue header__save">Сохранить</button>
			<div class="header__user-wrp">
				<!-- {{mixins.icon('search')}}  -->
				{{mixins.icon('apps')}} 
				<i class="icon-bell"></i>
				<img src="img/user.png" alt="user">

			</div>
		</header>
		
		<section class="referal">
			<div class="container">
				<div class="referal__top">
					<h2 class="title">
						Дари <b>10$</b>, получай <b>25$</b>
					</h2>
					<p>It showed a lady fitted out with a fur hat and fur boa who sat upright,
					raising a heavy fur muff that covered the whole of her lower arm towards the viewer.
					Gregor then turned to look out the window at the dull weather. </p>
				</div>
				<div class="referal__blocks">
					<div class="referal__block">
						<p class="referal__block-name">Пригласить с помощью email</p>
						<p>It showed a lady fitted out with a fur hat and fur boa
						who sat upright, raising a heavy fur muff that covered. </p>
						<button class="btn btn--border btn-arrow-r">Пригласить людей </button> 
					</div>
					<div class="referal__block">
						<p class="referal__block-name">Пригласить с помощью ссылки</p>
						<p>It showed a lady fitted out with a fur hat and fur boa
						who sat upright, raising a heavy fur muff that covered. </p>
						<div class="referal__block-text">
							<p>http://smartsender.eu/ref=?d33234eed44</p>
							{{mixins.icon('copy')}} 
						</div>
					</div>
				</div>
				<p class="title-line">
		        	<span>СТАТИСТИКА</span>
		        </p>
		        <div class="referal__items">
		        	<div class="referal__item">
		        		<p class="referal__item-num">
		        			0
		        		</p>
		        		<p class="referal__item-name">
		        			Клики
		        		</p>
		        		<p class="referal__item-text">
		        			Количество кликов <br>
							по вашей ссылке
		        		</p>
		        	</div>
		        	<div class="referal__item">
		        		<p class="referal__item-num">
		        			0
		        		</p>
		        		<p class="referal__item-name">
		        			Приглашено
		        		</p>
		        		<p class="referal__item-text">
		        			Количество людей <br>
							которых вы пригласили
		        		</p>
		        	</div>
		        	<div class="referal__item">
		        		<p class="referal__item-num">
		        			$ 0.00
		        		</p>
		        		<p class="referal__item-name">
		        			В ожидании
		        		</p>
		        		<p class="referal__item-text">
		        			Сумма, которую <br>
							вы получите
		        		</p>
		        	</div>
		        	<div class="referal__item">
		        		<p class="referal__item-num">
		        			$ 0.00
		        		</p>
		        		<p class="referal__item-name">
		        			Заработано
		        		</p>
		        		<p class="referal__item-text">
		        			Сумма, которую вы заработали <br>
							по реферальной программе
		        		</p>
		        	</div>
		        </div>
			</div>
		</section>

		<footer class="footer">
			<div class="container">
				<a href="/">Политика конфиденциальности</a>
			</div>
		</footer>
		
	{% include "partials/_social.html" %}
		
	</main>
	
	<script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery.slimscroll.js"></script>
    <script>
    	$(document).ready(function() {
		    $('.sidebar').slimScroll({
				height: '100%'
			});
		});
    </script>
    

{% endblock %}