---
css: accounts
classOut: out-reset-password
title: reset-password
---
{% extends "layouts/_layout.html" %}

{% block content %}

	
<main class="main-login">
	<section class="login">	
		<div class="login__left">
			<img src="img/logo.png" alt="" class="login__logo">
			<div class="login__block">
				<h2 class="title">Сброс пароля</h2>
				<p class="login__text-key">Введите ваш email</p>
				<form action="/">
					<label class="label-text ">
		            <input class="input-text" type="text" placeholder="&nbsp;">
		            <span class="span-input-text">Email</span>

		            <span class="input-text-error">Email не зарегистрирован</span>
		            <span class="input-text-success">Password is strong</span>
		        </label>
		        <button class="btn btn--blue btn--center" type="submit">Поменять пароль
		        </button>
					
				</form>
			</div>
			<div class="login__footer">
				<a href="#">
					<i class="icon-russia"></i> 
				Русский</a>
				<p>Нет аккаунта? &nbsp<a href="#" class="login__reg-link">Регистрация</a></p>
			</div>
		</div>
		<div class="login__right" style="background-image: url('img/reset-password-img.jpg')">
			<!-- <img src="img/reset-password-img.jpg" alt="img"> -->
		</div>
	</section>			
</main>
	

{% endblock %}