<div class="m-user__container" style="display: none;">
	<div class="m-user__wrp">
		<div class="m-user__top">
			<div class="m-user__user-text">
				<span class="m-user__user-name">Андрей Збруцкий</span> 
				<span class="m-user__user-descript">Проекты и параметры</span>
			</div>
			<img src="img/user.png" alt="user">
		</div>
		<div class="m-user__projects">
			<div class="m-user__shops">
				<div class="m-user__shop">
					<div class="m-user__shop-img">
						
					</div>
					<div class="m-user__shop-text">
						<p class="m-user__shop-name">Интернет-магазин "Пяте</p> 
						<p class="m-user__shop-descript">8 новый уведомлений</p>
					</div>
					{{mixins.icon('setting')}}
				</div>
				<div class="m-user__shop m-user__shop--mark">
					<div class="m-user__shop-img">
						
					</div>
					<div class="m-user__shop-text">
						<p class="m-user__shop-name">Интернет-магазин "Пяте</p> 
						<p class="m-user__shop-descript">8 новый уведомлений</p>
					</div>
					{{mixins.icon('setting')}}
				</div>
				<div class="m-user__shop">
					<div class="m-user__shop-img">
						
					</div>
					<div class="m-user__shop-text">
						<p class="m-user__shop-name">Интернет-магазин "Пяте</p> 
						<p class="m-user__shop-descript">8 новый уведомлений</p>
					</div>
					{{mixins.icon('setting')}}
				</div>
			</div>
		</div>
		<div class="m-user__new-project">
			<button>
				{{mixins.icon('add-thin')}}
			</button>
			Новый проект
		</div>
		<div class="m-user__bottom">
			<a href="#">
				{{mixins.icon('user')}}
				Настройки аккаунта
			</a>
			<a href="#">
				{{mixins.icon('logout')}}
				Выйти
			</a>
		</div>
	</div>
</div>