<div class="mod-help" style="display: none;">
	<div class="mod-help__block">
		<div class="mod-help__top">
			{{mixins.icon('info-2')}}
			<div class="mod-help__top-text">
				<h3 class="subtitle">Помощь</h3>
				<p>Специалистов в сети: 115</p>
			</div>
		</div>
		<div class="mod-help__items">
			<div class="mod-help__item">
				<p class="mod-help__item-title">
					{{mixins.icon('online-chat')}}
					Online-чат
				</p>
				<p class="mod-help__item-text">
					Lorem ipsum dolor sit amet, consectetuer
					adipiscing elit. Aenean commodo ligula
					eget dolor. Lorem ipsum dolor sit amet,
					consectetuer adipiscing elit. Aenean
					commodo ligula eget dolor.
				</p>
			</div>
			<div class="mod-help__item">
				<p class="mod-help__item-title">
					{{mixins.icon('users')}}
					Сообщество
				</p>
				<p class="mod-help__item-text">
					Lorem ipsum dolor sit amet, consectetuer
					adipiscing elit. Aenean commodo ligula
					eget dolor. Lorem ipsum dolor sit amet,
					consectetuer adipiscing elit. Aenean
					commodo ligula eget dolor.
				</p>
			</div>
			<div class="mod-help__item">
				<p class="mod-help__item-title">
					{{mixins.icon('bubble-rounded-2')}}
					Центр поддержки
				</p>
				<p class="mod-help__item-text">
					Lorem ipsum dolor sit amet, consectetuer
					adipiscing elit. Aenean commodo ligula
					eget dolor. Lorem ipsum dolor sit amet,
					consectetuer adipiscing elit. Aenean
					commodo ligula eget dolor.
				</p>
			</div>
		</div>
		<div class="mod-help__links">
			<a href="#">
				Открытые тикеты 
				<span>
					12
				</span>
				{{mixins.icon('arrow-r')}}
			</a>
			<a href="#">
				Архивные тикеты
				{{mixins.icon('arrow-r')}}
			</a>
		</div>
	</div>
</div>