<div class="notice-wrp" style="display: none;">
	<div class="notice">
		<span class="projects__btn-close">
			{{mixins.icon('close')}}
		</span>
		<div class="notice__main">
			<img src="img/mark-bigger-blue.png" alt="mark-bigger-blue">
			<div class="notice__text">
				<p class="notice__name">Название уведомления</p>
				<p class="notice__description">One morning, when Gregor Samsa woke
				from troubled dreams, he found himself...</p>
			</div>
		</div>
		<div class="notice__bottom">
			<p>Smart Messenger</p>
			<p>17:32</p>
		</div>
	</div>
	<div class="notice">
		<span class="projects__btn-close">
			{{mixins.icon('close')}}
		</span>
		<div class="notice__main">
			<img src="img/mark-bigger-blue.png" alt="mark-bigger-blue">
			<div class="notice__text">
				<p class="notice__name">Название уведомления</p>
				<p class="notice__description">One morning, when Gregor Samsa woke
				from troubled dreams, he found himself...</p>
			</div>
		</div>
		<div class="notice__bottom">
			<p>Smart Messenger</p>
			<p>17:32</p>
		</div>
	</div>
	<div class="notice">
		<span class="projects__btn-close">
			{{mixins.icon('close')}}
		</span>
		<div class="notice__main">
			<img src="img/mark-bigger-blue.png" alt="mark-bigger-blue">
			<div class="notice__text">
				<p class="notice__name">Название уведомления</p>
				<p class="notice__description">One morning, when Gregor Samsa woke
				from troubled dreams, he found himself...</p>
			</div>
		</div>
		<div class="notice__bottom">
			<p>Smart Messenger</p>
			<p>17:32</p>
		</div>
	</div>
	<button class="notice__hidden">
		Скрыть уведомления
		{{mixins.icon('arrow-r')}}
	</button>
</div>