<div class="notific__container" style="display: none;">
	<div class="notific__wrp">
		<span class="projects__btn-close">
			{{mixins.icon('close')}}
		</span>
		<div class="notific__top">
			<h2 class="title">Уведомления</h2>
			<label class="label-checkbox">
	            <input class="checkbox" type="checkbox">
	            <span class="input-circle"></span>
	            Показывать всплывающие уведомления
	        </label>
		</div>
		<div class="notific__block">
			<div class="notific__block-top">
				<i class="icon-mark-small-blue"></i>
				Smart Sender
				<button>Убрать все</button>
			</div>
			<div class="notific__notice">
				<span class="notific__btn-close">
					{{mixins.icon('close')}}
				</span>
				<span class="notific__time">
					17:32
				</span>
				<img src="img/user.png" alt="img">
				<div class="notific__text">
					<p class="notific__name">Название уведомления</p>
					<p class="notific__description">One morning, when Gregor Samsa woke
					from troubled dreams, he found himself...</p>
				</div>
			</div>
			<div class="notific__notice">
				<span class="notific__btn-close">
					{{mixins.icon('close')}}
				</span>
				<span class="notific__time">
					17:32
				</span>
				<div class="notific__text">
					<p class="notific__name">Название уведомления</p>
					<p class="notific__description">One morning, when Gregor Samsa woke
					from troubled dreams, he found himself...</p>
				</div>
			</div>
			<div class="notific__notice">
				<span class="notific__btn-close">
					{{mixins.icon('close')}}
				</span>
				<span class="notific__time">
					17:32
				</span>
				<div class="notific__text">
					<p class="notific__name">Название уведомления</p>
					<p class="notific__description">One morning, when Gregor Samsa woke
					from troubled dreams, he found himself...</p>
				</div>
			</div>

		</div>
		<div class="notific__block">
			<div class="notific__block-top">
				{{mixins.icon('setting')}}
				Общие
				<button>Убрать все</button>
			</div>
			<div class="notific__notice">
				<span class="notific__btn-close">
					{{mixins.icon('close')}}
				</span>
				<span class="notific__time">
					17:32
				</span>
				
				<div class="notific__text">
					<p class="notific__name">Название уведомления</p>
					<p class="notific__description">One morning, when Gregor Samsa woke
					from troubled dreams, he found himself...</p>
				</div>
			</div>
			<div class="notific__notice">
				<span class="notific__btn-close">
					{{mixins.icon('close')}}
				</span>
				<span class="notific__time">
					17:32
				</span>
				<div class="notific__text">
					<p class="notific__name">Название уведомления</p>
					<p class="notific__description">One morning, when Gregor Samsa woke
					from troubled dreams, he found himself...</p>
				</div>
			</div>
			<div class="notific__notice">
				<span class="notific__btn-close">
					{{mixins.icon('close')}}
				</span>
				<span class="notific__time">
					17:32
				</span>
				<div class="notific__text">
					<p class="notific__name">Название уведомления</p>
					<p class="notific__description">One morning, when Gregor Samsa woke
					from troubled dreams, he found himself...</p>
				</div>
			</div>

		</div>
	</div>
</div>

