<aside class="sidebar sidebar-5">
  <div class="sidebar__wrp">
	<img src="img/logo.png" class="sidebar-cart" alt="sidebar-cart">
	<ul class="sidebar__link-back line-bottom">
		<li><a href="#">{{mixins.icon('back-icon')}} Вернуться назад</a></li>
	</ul>
	<ul>
		<li class="sidebar__block-name"> 
			КАНАЛЫ СВЯЗИ
		</li>
		<li class="sidebar__link-active"> 
			<a href="#">{{mixins.icon('infinity')}} Все контакты <b>(51)</b>
				<!-- <b>
					{{mixins.icon('pen')}} 
					{{mixins.icon('basket-2')}} 
				</b> -->
			</a>
		</li>
		<li><a href="#">{{mixins.icon('mark-small-black')}} Smart Messenger <b>(25)</b></a></li>
		<li><a href="#">{{mixins.icon('mark-small-black')}} Smart Push <b>(20)</b></a></li>
		<li><a href="#">{{mixins.icon('mark-small-black')}} Smart Short Messag... <b>(15)</b></a></li>
		<li><a href="#">{{mixins.icon('mark-small-black')}} Smart Mail <b>(10)</b></a></li>
	</ul>

	<ul>
		<li class="sidebar__block-name sidebar__tags"> 
			ТЕГИ
			<span class="sidebar__block-icons">
				{{mixins.icon('pen')}} 
				{{mixins.icon('add')}} 
				{{mixins.icon('search')}} 
			</span>
		</li>
		<li class="sidebar__tag-search">
			{{mixins.icon('search')}} 
			<label class="label-text products__label-name">
	            <input class="input-text" type="text" placeholder="&nbsp;">
	        </label>
			{{mixins.icon('close-2')}} 
		</li>
		<li class="sidebar__tag-new">
			<div class="sidebar__color-wrp">
    			<i class="circle circle--red circle-active"></i>
    			<span>
    				<i class="circle circle--red-2"></i>
    				<i class="circle circle--pink"></i>
    				
    				<i class="circle circle--purple"></i>
    				<i class="circle circle--purple-2"></i>
    				<i class="circle circle--blue-2"></i>
    				<i class="circle circle--blue-3"></i>
    				
    				<i class="circle circle--turquoise"></i>
    				<i class="circle circle--green-2"></i>
    				<i class="circle circle--green-3"></i>
    				<i class="circle circle--green-4"></i>
    				<i class="circle circle--yellow"></i>
    				<i class="circle circle--yellow-2"></i>

    			</span>
    			<b class="sidebar__rect"></b>
    		</div>
			<label class="label-text products__label-name">
	            <input class="input-text" type="text" placeholder="&nbsp;">
	        </label>
	        {{mixins.icon('check-3')}}
			{{mixins.icon('close-2')}} 

		</li>
		<li><a href="#"><i class="circle circle--red"></i> Название тега</a></li>
		<li><a href="#"><i class="circle circle--green"></i> Название тега</a></li>
		<li><a href="#"><i class="circle circle--yellow-2"></i> Название тега</a></li>
		<li><a href="#"><i class="circle circle--blue"></i> Название тега</a></li>
		<li class="sidebar__show-all"><a href="#">{{mixins.icon('arrow-down ')}} Показать все <b>(150)</b> </a></li>
	</ul>

	<ul class="brdr-lines">
		<li><a href="#">{{mixins.icon('support')}} Помощь</a></li>
		<li><a href="#">{{mixins.icon('video-camera')}} Видеоуроки</a></li>
	</ul>

	<ul>

		<li><a href="#">
			<!-- {{mixins.icon('support')}}  -->
			<i class="icon-russia"></i> Русский</a></li>
	</ul>
  	
  </div>
</aside>