<aside class="sidebar">
  <div class="sidebar__wrp">
	<img src="img/logo.png" class="sidebar-cart" alt="sidebar-cart">
	<ul class="sidebar__link-back line-bottom">
		<li><a href="#">{{mixins.icon('back-icon')}} Вернуться назад</a></li>
	</ul>
	<ul class="">
		<li class="sidebar__link-active"><a href="#">{{mixins.icon('user')}} Настройки аккаунта</a></li>
		<li><a href="#">{{mixins.icon('wallet')}} Биллинг</a></li>
		<li><a href="#">{{mixins.icon('shop-cart')}} Тарифы</a></li>
		<li><a href="#">{{mixins.icon('email')}} Email-подписки</a></li>
		<li><a href="#">{{mixins.icon('users')}} Права доступа</a></li>
	</ul>

	

	<ul class="brdr-lines">
		<li><a href="#">{{mixins.icon('support')}} Помощь</a></li>
		<li><a href="#">{{mixins.icon('video-camera')}} Видеоуроки</a></li>
	</ul>

	<ul>

		<li><a href="#">
			<!-- {{mixins.icon('support')}}  -->
			<i class="icon-russia"></i> Русский</a></li>
	</ul>
  	
  </div>
</aside>

