<aside class="sidebar">
  <div class="sidebar__wrp">
	<img src="img/logo.png" class="sidebar-cart" alt="sidebar-cart">
	<ul class="sidebar__link-back line-bottom">
		<li><a href="#">{{mixins.icon('back-icon')}} Вернуться назад</a></li>
	</ul>
	<ul class="">
		<li class="sidebar__link-active"><a href="#">{{mixins.icon('user')}} Настройки аккаунта</a></li>
		<li><a href="#">{{mixins.icon('wallet')}} Реферальная програ...</a></li>
	</ul>
	<ul class="sidebar__shops">
		<li>
			<div class="sidebar__shops-img">
				<!-- <img src="" alt=""> -->
			</div>
			<div class="sidebar__shops-text">
				<p>Интернет-магазин "Пят...</p>
				<a href="#">Перейти к настройкам проекта</a>
			</div>
		</li>
		<li>
			<div class="sidebar__shops-img">
				<!-- <img src="" alt=""> -->
			</div>
			<div class="sidebar__shops-text">
				<p>Интернет-магазин "Пят...</p>
				<a href="#">Перейти к настройкам проекта</a>
			</div>
		</li>
		<li>
			<div class="sidebar__shops-img">
				<!-- <img src="" alt=""> -->
			</div>
			<div class="sidebar__shops-text">
				<p>Интернет-магазин "Пят...</p>
				<a href="#">Перейти к настройкам проекта</a>
			</div>
		</li>
		<li>
			<div class="sidebar__shops-img">
				<!-- <img src="" alt=""> -->
			</div>
			<div class="sidebar__shops-text">
				<p>Интернет-магазин "Пят...</p>
				<a href="#">Перейти к настройкам проекта</a>
			</div>
		</li>
		<li>
			<div class="sidebar__shops-img">
				<!-- <img src="" alt=""> -->
			</div>
			<div class="sidebar__shops-text">
				<p>Интернет-магазин "Пят...</p>
				<a href="#">Перейти к настройкам проекта</a>
			</div>
		</li>
	</ul>

	

	<ul class="brdr-lines">
		<li><a href="#">{{mixins.icon('support')}} Помощь</a></li>
		<li><a href="#">{{mixins.icon('video-camera')}} Видеоуроки</a></li>
	</ul>

	<ul>

		<li><a href="#">
			<!-- {{mixins.icon('support')}}  -->
			<i class="icon-russia"></i> Русский</a></li>
	</ul>
  	
  </div>
</aside>

