<aside class="sidebar">
  <div class="sidebar__wrp">
	<img src="img/logo.png" class="sidebar-cart" alt="sidebar-cart">
	<ul class="line-bottom">
		<li class="sidebar__link-active"><a href="#">{{mixins.icon('home')}} Консоль</a></li>
		<li><a href="#">{{mixins.icon('basket')}} Продукты</a></li>
		<li><a href="#">{{mixins.icon('domen')}} Домен</a></li>
		<li><a href="#">{{mixins.icon('dollar')}} Платежные системы</a></li>
	</ul>

	<ul>
		<li><a href="#">{{mixins.icon('rocket')}} Обновить до Pro</a></li>
		<li><a href="#">{{mixins.icon('add-friends')}} Пригласить друзей</a></li>
	</ul>

	<ul class="brdr-lines">
		<li><a href="#">{{mixins.icon('support')}} Помощь</a></li>
		<li><a href="#">{{mixins.icon('video-camera')}} Видеоуроки</a></li>
	</ul>

	<ul>

		<li><a href="#">
			<!-- {{mixins.icon('support')}}  -->
			<i class="icon-russia"></i> Русский</a></li>
	</ul>
  	
  </div>
</aside>

