<div class="social">
	<div class="social__wrp">
		<ul>
			<li>
				<button class="btn-social btn-social--massenger">
					{{mixins.icon('messenger')}}
				</button>
				<button class="btn-social btn-social--massenger">
					{{mixins.icon('messenger')}}
				</button>
			</li>
			<li>
				<button class="btn-social btn-social--viber">
					{{mixins.icon('viber')}}
				</button>
				<button class="btn-social btn-social--viber">
					{{mixins.icon('viber')}}
				</button>
			</li>
			<li>
				<button class="btn-social btn-social--whatsapp">
					{{mixins.icon('whatsapp')}}
				</button>
				<button class="btn-social btn-social--whatsapp">
					{{mixins.icon('whatsapp')}}
				</button>
			</li>
			<li>
				<button class="btn-social btn-social--telegram">
					{{mixins.icon('telegram')}}
				</button>
				<button class="btn-social btn-social--telegram">
					{{mixins.icon('telegram')}}
				</button>
			</li>
		</ul>
	</div>
	<button class="btn-social btn-social--open">
		{{mixins.icon('social-open')}}
		{{mixins.icon('social-cross')}}
	</button>
</div>