.icon-add-border {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-add-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-add-friends {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.icon-add-pluss {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-add-thin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-apps {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-big {
  width: 0.58em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down-4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down {
  width: 1.56em;
  height: 1em;
  fill: initial;
}
.icon-arrow-l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-r {
  width: 1.21em;
  height: 1em;
  fill: initial;
}
.icon-back-icon {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-basket-2 {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.icon-basket {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bin-2 {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.icon-bin {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.icon-box-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bubble-rounded-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.44em;
  height: 1em;
  fill: initial;
}
.icon-clip {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-close-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Combined-Shape-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Combined-Shape {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-copy {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-csv-download {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-csv-upload {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-delete {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.icon-dollar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-domen {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-edit-write {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-email {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-envelope {
  width: 1.37em;
  height: 1em;
  fill: initial;
}
.icon-error-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-eye {
  width: 1.47em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-folder-5 {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.icon-folder-open {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-folder {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-infinity {
  width: 2.23em;
  height: 1em;
  fill: initial;
}
.icon-info-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-info-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-lock {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.icon-logout {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail-at {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mark-small-black {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-messenger {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-online-chat {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-outline {
  width: 1.8em;
  height: 1em;
  fill: initial;
}
.icon-pen {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-power {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.icon-present {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rocket {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-setting-2 {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-setting {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-shop-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shop-check {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-social-cross {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-social-open {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-statistic {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-support {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-users {
  width: 1.41em;
  height: 1em;
  fill: initial;
}
.icon-viber {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-video-camera {
  width: 1.47em;
  height: 1em;
  fill: initial;
}
.icon-wallet {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-whatsapp {
  width: 1em;
  height: 1em;
  fill: initial;
}
